@page
@model IndexModel
@{ }
<!DOCTYPE html>
<html lang="en">
<header>
    <head>
        <title>Homepage</title>
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- stylesheet css -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/nivo-lightbox.css">
        <link rel="stylesheet" href="css/nivo_themes/default/default.css">
        <link rel="stylesheet" href="css/homepageStyle.css">
        <!-- google web font css -->
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    </head>
</header>
<!-- home section -->
<body>
    <div id="home">
        <div class="container">
            <div class="row"> </div>
        </div>
    </div>

    <!-- divider section -->
    <div class="divider">
        <div class="container">
            <div class="row">

                <!--Bin fulfilment-->
                <div class="col-md-4 col-sm-6">
                    <a href="https://app.powerbi.com/view?r=eyJrIjoiYzFkNjZjYzYtMzcxYS00NWYyLTk0NjQtMDAzZDM1MzE0NjVjIiwidCI6IjlhZWUyNmQ4LTk3YzItNGZhZC04OTAwLTk2NzM1ZjZkYzczZiIsImMiOjEwfQ%3D%3D">
                        <div class="divider-wrapper divider-one">
                            <i class="fa fa-trash"></i>
                            <h2>Bin Fulfilment</h2>
                            <p>Access waste level predictions and infographics</p>
                        </div>
                    </a>
                </div>

                <!--Dashboard-->
                <div class="col-md-4 col-sm-6">
                    <a href="https://app.powerbi.com/view?r=eyJrIjoiNzIxNTdjYzEtMTBiMC00MmRiLThhMjktYzUzYWZkY2ZmOGIyIiwidCI6IjlhZWUyNmQ4LTk3YzItNGZhZC04OTAwLTk2NzM1ZjZkYzczZiIsImMiOjEwfQ%3D%3D">
                        <div class="divider-wrapper divider-two">
                            <i class="fa fa-dashboard"></i>
                            <h2>Dashboard</h2>
                            <p>Display historical IoT sensor data and graphs</p>
                        </div>
                    </a>
                </div>

                <!--Route optimisation-->
                <div class="col-md-4 col-sm-12">
                    <a href=RouteOptimization>
                        <div class="divider-wrapper divider-three">
                            <i class="fa fa-map-marker"></i>
                            <h2>Route Map</h2>
                            <p>View real time route information and optimal routes</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- javascript js -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/nivo-lightbox.min.js"></script>
    <script src="js/custom.js"></script>

</body>
</html>
